.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.btn{
  text-align: center;
  background-color: #FFC4C4;
  font-size: 2rem;
  font-weight: bolder;
  border-radius: 10%;
  margin-top: 2%;
  
}
.btn:hover{
  background-color: #EE6983;
  
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background: #20002c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
